@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --font-primary: "Open Sans", sans-serif;
  --font-primary-1: "Ubuntu", sans-serif;
  --max-width: 112rem;
  --font-1: 1.6rem;
  --m-auto: 0 auto;
  --black: rgb(1, 0, 48);
  --white: rgb(255, 255, 255);
  --primary-color: #ff6347;
  --nav-height: 6rem;
  --linear: linear-gradient(135deg, #a454fd, #2b05df);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary-1);
}
a,
ul,
li,
p,
ol {
  font-size: var(--font-1);
  text-decoration: none;
  list-style-type: none;
}
.container {
  max-width: var(--max-width);
  margin: var(--m-auto);
  padding: 0 1rem;
  width: 100%;
}
.d-flex {
  display: flex;
}
.justify-c-sb {
  justify-content: space-between;
}
.justify-c-c {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.btn-primary {
  margin-top: 1rem;
  padding: 0.7rem 1.7rem;
  color: var(--white);
  display: inline-block;
  background: var(--primary-color);
  transition: box-shadow 0.5s ease;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  border: none;
}
.btn-primary:hover {
  box-shadow: inset 12rem 0 1rem rgb(6, 16, 160);
  /* box-shadow: inset 45px 0px 25px -25px rgba(55, 48, 145, 0.45),
    inset -45px 0px 25px -25px rgba(59, 43, 196, 0.45); */
  left: 0;
  /* color: black; */
  border: none;
}
.grid {
  display: grid;
}
.active-gallery {
  padding: 0.5rem 2rem !important;
  background: var(--linear);
  color: var(--white);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
/* mobile-manue */
.mobile-icon {
  width: 3rem;
  background-color: var(--white);
  display: none;
  height: 0.3rem;
  position: relative;
  cursor: pointer;
}
.mobile-icon::after,
.mobile-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: currentColor;
  top: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.mobile-icon::before {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
}
.mobile-icon::after {
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
}
.mobile-icon.active::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.mobile-icon.active::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.mobile-icon.active {
  background: transparent;
}
/* mobile-manue */
/* home */
.navigation {
  height: var(--nav-height);
  background: var(--black);
  position: relative;
  z-index: 1000;
}
.navigation * {
  color: var(--white);
}
nav {
  height: 100%;
}
ul li {
  display: inline-block;
  margin-right: 0.5rem;
}
.logo {
  font-size: 2.6rem;
  background: rgb(69, 62, 204);
  background: linear-gradient(
    90deg,
    rgb(155, 152, 216) 0%,
    rgb(48, 140, 227) 35%,
    rgb(117, 71, 224) 100%
  );
  background-size: cover;
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
}
.home {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(4, 0, 63, 0.363),
      rgba(4, 0, 63, 0.363)
    ),
    url(images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-contant {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.home-heading {
  font-size: 3rem;
  width: 80%;
  color: var(--white);
}
/* home */
/* Gallery */
.gallery {
  padding: 2rem 0;
}
.gallery-link-manue li {
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: var(--font-primary);
  font-weight: 600;
}
.grid-gallery {
  padding-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}
.grid-item img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
@keyframes animte {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
.grid-item.hide {
  opacity: 0;
  display: none;
}
.grid-item.show {
  opacity: 1;
  display: block;
  animation: animte 0.5s ease;
  -webkit-animation: animte 0.5s ease;
}

/* Gallery */
/* meadia-query */
@media only screen and (max-width: 76.8rem) {
  .container {
    width: 95%;
  }
  .manue {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .mobile-icon {
    display: block;
  }
  .mobile-icon.active + .manue {
    opacity: 1;
    display: block;
    position: absolute;
    top: var(--nav-height);
    width: 100%;
    height: calc(100vh - var(--nav-height));
    background: var(--black);
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mobile-icon.active + .manue li {
    margin-top: 2rem;
  }
}
/* meadia-query */
